.form__button {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  height: 50px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 715px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    height: 46px;
  }
}
