.profile__info {
  margin: 0;
  padding: 0;
  display: grid;
  position: relative;
  grid-template-rows: max-content max-content;
  column-gap: 18px;
  row-gap: 7px;
  align-items: center;
}

@media screen and (max-width: 715px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 5px;
    max-width: 80%;
  }
}
