.header__logo {
  margin: 0;
  padding: 0;
  width: 142px;
  /* padding-left: 27px; */
}

/* @media screen and (max-width: 899px) {
  .header__logo {

  }
} */

@media screen and (max-width: 715px) {
  .header__logo {
    width: 104px;
  }
}
